/*? Main */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("D:/Working On/Websites/ROConsultants/Images/background.jpg");
  /* background: radial-gradient(
      circle,
      var(--background) 0%,
      var(--background2) 80%
    ); */
}

* {
  padding: 0;
  margin: 0;
}

/* ? Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5f527a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d1d3a;
  border-radius: 20px;
  border: 3px solid #473555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d1d3aa6;
}

/* ? Navigation Bar */
.navContainer {
  width: 100%;
  margin-top: 0.5em;
  padding-bottom: 50em;
}
.navContainer .navTexts {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.navContainer .logo {
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
}
.navContainer .navBtn {
  transition: 250ms;
  margin-top: 1em;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
.navContainer .navBtn:hover {
  transition: 250ms;
  cursor: pointer;
  color: #ffc273;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
}

/*? Main Text */
.main {
  width: 100%;
  margin: auto;
  margin-top: 20em;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
}
.main .mainText {
  color: white;
  font-size: 4em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main .subText {
  width: 100%;
  margin: auto;
  color: #979797;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: left;
  margin-top: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main .mainBtn {
  transition: 250ms;
  margin-top: 2em;
  padding: 0.8em;
  color: white;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  border: 0px solid #473555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #445e97;
}
.main .mainBtn:hover {
  transition: 250ms;
  background-color: #ffc273;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  letter-spacing: 6px;
  font-weight: bold;
  text-align: center;
}

/*? div Boxes */
.divBoxContainer {
  margin-top: 10em;
}
.divBoxContainer .divBox {
  transition: 250ms;
  text-align: center;
  margin-top: 2em;
  background-color: #2d1d3aa6;
  border-radius: 16px;
  border: 1px solid #473555;
}
.divBoxContainer .divBox:hover {
  transition: 250ms;
  border-radius: 20px;
  border: 1px solid #ffc273;
  cursor: pointer;
}
.divBoxContainer .divBox .chat {
  margin-top: 0.5em;
  color: white;
  font-size: 6em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
.divBoxContainer .divBox .textBox {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: white;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
