.offset-right-1 {
  margin-right: 8.33333333%;
}

.offset-right-2 {
  margin-right: 16.66666666%;
}

.offset-right-3 {
  margin-right: 24.99999999%;
}

.offset-right-4 {
  margin-right: 33.33333332%;
}

.offset-right-5 {
  margin-right: 41.66666665%;
}

.offset-right-6 {
  margin-right: 49.99999998%;
}

.offset-right-7 {
  margin-right: 58.33333331%;
}

.offset-right-8 {
  margin-right: 66.66666664%;
}

.offset-right-9 {
  margin-right: 74.99999997%;
}

.offset-right-10 {
  margin-right: 83.3333333%;
}

.offset-right-11 {
  margin-right: 91.66666663%;
}

/*? Main */
html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  padding: 0%;
  overflow-y: hidden;
  background-color: #231f2b;
}

body {
  height: 100%;
  margin: 0px;
  padding-top: 1em;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.jpg");
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #231f2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d1d3a;
  border-radius: 20px;
  border: 3px solid #2f2a33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a161d3d;
}

.navContainer {
  width: 100%;
  padding-bottom: 50em;
}
.navContainer .navTexts {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.navContainer .logo {
  transition: 500ms;
  color: white;
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
}
.navContainer .logo :hover {
  transition: 500ms;
  color: #d49440;
  cursor: pointer;
  letter-spacing: 3px;
}
@media (min-width: 1300px) {
  .navContainer .logo {
    font-size: 2em;
  }
}
@media (min-width: 2160px) {
  .navContainer .logo {
    font-size: 3em;
  }
}
.navContainer .navBtn {
  transition: 250ms;
  margin-top: 1em;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .navContainer .navBtn {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .navContainer .navBtn {
    font-size: 1em;
  }
}
.navContainer .navBtn:hover {
  transition: 250ms;
  cursor: pointer;
  color: #d49440;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .navContainer .navBtn:hover {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .navContainer .navBtn:hover {
    font-size: 1em;
  }
}
.navContainer .navBtn .login {
  transition: 250ms;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  color: #d49440;
}
.navContainer .navBtn .login:hover {
  transition: 250ms;
  cursor: pointer;
  color: white;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
}

.main {
  width: 100%;
  margin: auto;
  margin-top: 12em;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
}
@media (min-width: 1300px) {
  .main {
    margin-top: 6em;
  }
}
@media (min-width: 2160px) {
  .main {
    margin-top: 12em;
  }
}
.main .mainText {
  color: white;
  font-size: 4em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 1300px) {
  .main .mainText {
    font-size: 3em;
  }
}
@media (min-width: 2160px) {
  .main .mainText {
    font-size: 4em;
  }
}
.main .subText {
  width: 100%;
  margin: auto;
  color: #979797;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: left;
  margin-top: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 1300px) {
  .main .subText {
    font-size: 1em;
  }
}
@media (min-width: 2160px) {
  .main .subText {
    font-size: 1.3em;
  }
}
.main .mainBtn {
  transition: 250ms;
  margin-top: 3em;
  padding: 0.8em 1.2em 0.8em 1.2em;
  color: white;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 0px solid #2f2a33;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #445e97;
}
@media (min-width: 1300px) {
  .main .mainBtn {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .main .mainBtn {
    font-size: 1em;
  }
}
.main .mainBtn:hover {
  transition: 250ms;
  background-color: #d49440;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  letter-spacing: 6px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .main .mainBtn:hover {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .main .mainBtn:hover {
    font-size: 1em;
  }
}
.main .mainBtnTwo {
  margin-left: 1em;
  transition: 250ms;
  margin-top: 3em;
  padding: 0.8em 1.2em 0.8em 1.2em;
  color: white;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 0px solid #2f2a33;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d49440;
}
@media (min-width: 1300px) {
  .main .mainBtnTwo {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .main .mainBtnTwo {
    font-size: 1em;
  }
}
.main .mainBtnTwo:hover {
  transition: 250ms;
  background-color: #445e97;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  letter-spacing: 6px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .main .mainBtnTwo:hover {
    font-size: 0.8em;
  }
}
@media (min-width: 2160px) {
  .main .mainBtnTwo:hover {
    font-size: 1em;
  }
}

.divBoxContainer {
  margin-top: 3em;
}
.divBoxContainer .divBox {
  transition: 250ms;
  text-align: center;
  margin-top: 2em;
  background-color: #1a161d3d;
  border-radius: 16px;
  border: 1px solid #2f2a33;
}
.divBoxContainer .divBox:hover {
  transition: 250ms;
  border-radius: 20px;
  border: 1px solid #d49440;
  cursor: pointer;
}
.divBoxContainer .divBox .chat {
  margin-top: 0.5em;
  color: white;
  font-size: 6em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .divBoxContainer .divBox .chat {
    font-size: 4em;
  }
}
@media (min-width: 2160px) {
  .divBoxContainer .divBox .chat {
    font-size: 6em;
  }
}
.divBoxContainer .divBox .textBox {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: white;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1300px) {
  .divBoxContainer .divBox .textBox {
    font-size: 1em;
  }
}
@media (min-width: 2160px) {
  .divBoxContainer .divBox .textBox {
    font-size: 1.5em;
  }
}

.bar {
  background: #2f2a33;
  height: 1px;
  width: 100%;
  margin: 0%;
  margin-top: 8.5em;
}
@media (min-width: 1300px) {
  .bar {
    margin-top: 4.5em;
  }
}
@media (min-width: 2160px) {
  .bar {
    margin-top: 8.5em;
  }
}

.footerDiv {
  margin-top: 2em;
}
@media (min-width: 1300px) {
  .footerDiv {
    margin-top: 1em;
  }
}
@media (min-width: 2160px) {
  .footerDiv {
    margin-top: 2em;
  }
}
.footerDiv .footerBtn {
  transition: 250ms;
  font-family: "Courier New", Courier, monospace;
  color: #979797;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  margin-top: 1em;
}
.footerDiv .footerBtn:hover {
  transition: 250ms;
  cursor: pointer;
  color: #d49440;
  font-size: 0.8em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: left;
}
.footerDiv .footerBtnStatic {
  font-family: "Courier New", Courier, monospace;
  color: #979797;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  user-select: none;
  margin-top: 1em;
}

/*# sourceMappingURL=style.css.map */
