:root {
    --text: rgb(255, 255, 255);
    --background: #574c64;
    --background2: #362f3d;
    --border: #c7c7c7;
    --navbar: #df5d07;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(0deg, var(--background) 0%, var(--background2) 80%);
  }

  p {
    color: var(--text);
    font-family: Roboto;
  }

  .cont {
    width: 100%;
    margin: auto;
  }

  .texts {
    width: 100%;
    margin: auto;
    color: var(--text);
    font-family: Roboto;
    font-weight: bold;
    padding: 1em;
    border-bottom: .5px dotted var(--border);
    background-color: var(--navbar);
  }

  .title {
    font-size: 2em;
    text-align: left;
  }

  .nav {
    margin-top: .7em;
    text-align: center;
  }

  .main {
    width: 100%;
    margin: auto;
    font-size: 2em;
    margin-top: 5em;
  }