:root {
    --text: rgb(139, 137, 137);
    --darkBlue: #292c64;
    --lightOrange: #ffffff;
  }

  .texts {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
  }

.title {
  font-size: 4em;
  color: var(-text);
  font-family: Roboto;
  font-weight: bold;
}