//* Sass code by Harold.

//? Imports
@import "stylings/defaults";

//? Main
html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  padding: 0%;

  background-color: $background;
}

body {
  // height: 100%;
  margin: 0px;
  padding-top: 1em;
  width: 100%;

  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-image: url("../plaatjes/background.jpg");
  // background-color: $background;
  background: radial-gradient(circle, $background 0%, $background2 100%);
}

* {
  padding: 0;
  margin: 0;
}

//? Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background2;
  @include border(20px, 3px, $border);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $backgroundOp;
}

// ? Navigation Bar
.navContainer {
  width: 100%;

  .navTexts {
    width: 100%;
    margin: auto;
    padding: 1em;
  }

  .logo {
    transition: 500ms;
    @include defaultText(3em, left, $text, 1px);

    :hover {
      transition: 500ms;
      color: $selected;
      cursor: pointer;
      letter-spacing: 3px;
    }

    @include mq(L) {
      font-size: 2em;
    }

    @include mq(XL) {
      font-size: 3em;
    }
  }

  .navBtn {
    transition: 250ms;
    margin-top: 1em;
    font-family: "Courier New", Courier, monospace;
    @include defaultText(1em, center, $text, 1px);

    @include mq(L) {
      font-size: 0.8em;
    }

    @include mq(XL) {
      font-size: 1em;
    }

    &:hover {
      transition: 250ms;
      cursor: pointer;
      @include defaultText(1em, center, $selected, 3px);

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }
    }

    .login {
      transition: 250ms;
      font-family: "Courier New", Courier, monospace;
      @include defaultText(1em, center, $text, 1px);
      color: $selected;

      &:hover {
        transition: 250ms;
        cursor: pointer;
        @include defaultText(1em, center, $text, 3px);
      }
    }
  }
}

//? Main Text
.main {
  width: 100%;
  margin: auto;
  margin-top: 12em;
  @include defaultText(1em, left, $text, 1px);

  @include mq(L) {
    margin-top: 6em;
  }

  @include mq(XL) {
    margin-top: 12em;
  }

  .mainText {
    @include defaultText(4em, left, $text, 1px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 3em;
    }

    @include mq(XL) {
      font-size: 4em;
    }
  }

  .subText {
    width: 100%;
    margin: auto;
    @include defaultText(1.3em, left, $subText, 3px);
    margin-top: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 1em;
    }

    @include mq(XL) {
      font-size: 1.3em;
    }
  }

  .mainBtn {
    transition: 250ms;
    margin-top: 3em;
    padding: 0.8em 1.2em 0.8em 1.2em;
    @include defaultText(1em, center, $text, 3px);
    @include border(20px, 0px, $border);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: $unselected;

    @include mq(L) {
      font-size: 0.8em;
    }

    @include mq(XL) {
      font-size: 1em;
    }

    &:hover {
      transition: 250ms;
      background-color: $selected;
      border-radius: 10px;
      @include defaultText(1em, center, $text, 6px);

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }
    }

    &Two {
      margin-left: 1em;
      transition: 250ms;
      margin-top: 3em;
      padding: 0.8em 1.2em 0.8em 1.2em;
      @include defaultText(1em, center, $text, 3px);
      @include border(20px, 0px, $border);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: $selected;

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }

      &:hover {
        transition: 250ms;
        background-color: $unselected;
        border-radius: 10px;
        @include defaultText(1em, center, $text, 6px);

        @include mq(L) {
          font-size: 0.8em;
        }

        @include mq(XL) {
          font-size: 1em;
        }
      }
    }
  }
}

//? Div Boxes
.divBoxContainer {
  margin-top: 3em;

  .divBox {
    transition: 250ms;
    text-align: center;
    margin-top: 2em;
    background-color: $backgroundOp;
    @include border(16px, 1px, $border);

    &:hover {
      transition: 250ms;
      @include border(20px, 1px, $selected);
      cursor: pointer;
    }

    .chat {
      margin-top: 0.5em;
      @include defaultText(6em, center, $text, 1px);

      @include mq(L) {
        font-size: 4em;
      }

      @include mq(XL) {
        font-size: 6em;
      }
    }

    .textBox {
      margin-top: 1em;
      margin-bottom: 1.5em;
      @include defaultText(1.5em, center, $text, 1px);

      @include mq(L) {
        font-size: 1em;
      }

      @include mq(XL) {
        font-size: 1.5em;
      }
    }
  }
}

//? Seperation Bar
.bar {
  background: $border;
  height: 1px;
  width: 100%;
  margin: 0%;
  margin-top: 8.5em;

  @include mq(L) {
    margin-top: 4.5em;
  }

  @include mq(XL) {
    margin-top: 8.5em;
  }
}

//? Footer

.footerDiv {
  margin-top: 2em;

  @include mq(L) {
    margin-top: 1em;
  }

  @include mq(XL) {
    margin-top: 2em;
  }

  .footerBtn {
    transition: 250ms;
    font-family: "Courier New", Courier, monospace;
    @include defaultText(0.8em, left, $subText, 1px);
    margin-top: 1em;

    &:hover {
      transition: 250ms;
      cursor: pointer;
      @include defaultText(0.8em, left, $selected, 3px);
    }

    &Static {
      font-family: "Courier New", Courier, monospace;
      @include defaultText(0.8em, left, $subText, 1px);
      user-select: none;
      margin-top: 1em;
    }
  }
}

//?

.navbar {
  background-color: $backgroundLogin;
  @include border(10px, 1px, $borderLight);
  margin-top: -1em;

  .navBarText {
    transition: 250ms;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: $blueText;

    &:hover {
      transition: 250ms;
      cursor: pointer;
      color: $selected;
    }
  }

  .logoMid {
    margin-left: -15em;
    font-size: 1.3em;
  }
}

//? Login Box

.loginContainer {
  @include minMax(50%, 50%, 50%, 50%);
  justify-content: center;
  align-items: center;
  padding: 20px;
  @include border(20px, 1px, $borderLight);
  background-color: $backgroundLogin;
  margin: auto;
  margin-top: 5em;

  .loginText {
    margin: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: $blueText;
  }

  .registerText {
    margin: 0.2em;
    font-size: 6em;
    text-align: center;
    font-weight: bold;
    color: $blueText;
  }

  .userText {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: $blueText;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .input {
    @include border(10px, 1px, $borderLight);
  }

  .submitBtn {
    @include border(10px, 1px, $borderLight);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    background-color: $blueText;
  }

  .drowpdown {
    @include border(10px, 1px, $borderLight);
    padding: 0.15em;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: $blueText;
  }
}

//? Footer
.footer {
  @include border(10px, 1px, $borderDark);
  padding: 2em;
  margin-top: 7em;
  font-size: 1em;
  font-weight: bold;
  color: $blueText;
  background-color: $backgroundFooter;

  .headF {
    color: $borderLight;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
}
