//* Sass code by Harold.

//? Imports
@import "src/assets/stylings/defaults";

//? Seperation Bar
.bar {
  background: $border;
  height: 1px;
  width: 100%;
  margin: 0%;
  margin-top: 8.5em;

  @include mq(L) {
    margin-top: 4.5em;
  }

  @include mq(XL) {
    margin-top: 8.5em;
  }
}

//? Footer

.footerDiv {
  margin-top: 2em;

  @include mq(L) {
    margin-top: 1em;
  }

  @include mq(XL) {
    margin-top: 2em;
  }

  .footerBtn {
    transition: 250ms;
    font-family: "Courier New", Courier, monospace;
    @include defaultText(0.8em, left, $subText, 1px);
    margin-top: 1em;

    &:hover {
      transition: 250ms;
      cursor: pointer;
      @include defaultText(0.8em, left, $selected, 3px);
    }

    &Static {
      font-family: "Courier New", Courier, monospace;
      @include defaultText(0.8em, left, $subText, 1px);
      user-select: none;
      margin-top: 1em;
    }
  }
}
