//* Sass code by Harold.

//? Imports
@use "sass:map";

//? Variables
$text: rgb(255, 255, 255);
$subText: rgb(151, 151, 151);
$background: #231f2b;
$background2: #2d1d3a;
$backgroundOp: #1a161d3d;
$selected: rgb(212, 148, 64);
$unselected: rgb(68, 94, 151);
$border: #2f2a33;

//? Screen Sizes
$screenSizes: (
  XS: 576px,
  S: 768px,
  M: 992px,
  L: 1300px,
  XL: 2160px,
);

//? Media Queries.
@mixin mq($screenSize) {
  $size: map.get($screenSizes, $screenSize);

  @media (min-width: $size) {
    @content;
  }
}

//? Default Text.
@mixin defaultText($fontSize, $align, $color, $spacing) {
  color: $color;
  font-size: $fontSize;
  letter-spacing: $spacing;
  font-weight: bold;
  text-align: $align;
  //   text-shadow: 4px 4px 8px $background;

  @content;
}

//? Min and Max sizes.
@mixin minMax($minH, $maxH, $minW, $maxW) {
  min-height: $minH;
  max-height: $maxH;
  min-width: $minW;
  max-width: $maxW;
}

//? Border settings.
@mixin border($radius, $width, $color) {
  border-radius: $radius;
  border: $width solid $color;
}
