<!--?Main Text-->
<div class="row main">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p class="mainText">Consulting Boost</p>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p class="mainText">Performance to get Rich!</p>
    <p></p>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p class="subText">For anyone in consultation need.</p>
    <p></p>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-11">
    <button class="btn-primary btn mainBtn">
      <i class="fas fa-book"></i> Read More
    </button>
    <button class="btn-primary btn mainBtnTwo">
      <i class="fas fa-rocket"></i> Consult
    </button>
  </div>
</div>

<!--? Div Boxes-->

<div class="container-fluid divBoxContainer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="divBox">
        <i class="chat far fa-comment-dots"></i>
        <p class="textBox">Chat with us...</p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="divBox">
        <i class="chat fas fa-money-bill-wave"></i>
        <p class="textBox">Fill in a Form...</p>
      </div>
    </div>
  </div>
</div>
