//* Sass code by Harold.

//? Imports
<<<<<<< HEAD:scss/style.scss
@import "stylings/defaults";

//? Main
html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  padding: 0%;

  background-color: $background;
}

body {
  height: 100%;
  margin: 0px;
  padding-top: 1em;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.jpg");
}

* {
  padding: 0;
  margin: 0;
}

//? Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background2;
  @include border(20px, 3px, $border);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $backgroundOp;
}

// ? Navigation Bar
.navContainer {
  width: 100%;

  .navTexts {
    width: 100%;
    margin: auto;
    padding: 1em;
  }

  .logo {
    transition: 500ms;
    @include defaultText(3em, left, $text, 1px);

    :hover {
      transition: 500ms;
      color: $selected;
      cursor: pointer;
      letter-spacing: 3px;
    }

    @include mq(L) {
      font-size: 2em;
    }

    @include mq(XL) {
      font-size: 3em;
    }
  }

  .navBtn {
    transition: 250ms;
    margin-top: 1em;
    font-family: "Courier New", Courier, monospace;
    @include defaultText(1em, center, $text, 1px);

    @include mq(L) {
      font-size: 0.8em;
    }

    @include mq(XL) {
      font-size: 1em;
    }

    &:hover {
      transition: 250ms;
      cursor: pointer;
      @include defaultText(1em, center, $selected, 3px);

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }
    }

    .login {
      transition: 250ms;
      font-family: "Courier New", Courier, monospace;
      @include defaultText(1em, center, $text, 1px);
      color: $selected;

      &:hover {
        transition: 250ms;
        cursor: pointer;
        @include defaultText(1em, center, $text, 3px);
      }
    }
  }
}
=======
@import "src/assets/stylings/defaults";
>>>>>>> a66b1653995cb2cf5dfcc9da173ce24280425e63:src/app/main-page/main-page.component.scss

//? Main Text
.main {
  width: 100%;
  margin: auto;
  margin-top: 12em;
  @include defaultText(1em, left, $text, 1px);

  @include mq(L) {
    margin-top: 6em;
  }

  @include mq(XL) {
    margin-top: 12em;
  }

  .mainText {
    @include defaultText(4em, left, $text, 1px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 3em;
    }

    @include mq(XL) {
      font-size: 4em;
    }
  }

  .subText {
    width: 100%;
    margin: auto;
    @include defaultText(1.3em, left, $subText, 3px);
    margin-top: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 1em;
    }

    @include mq(XL) {
      font-size: 1.3em;
    }
  }

  .mainBtn {
    transition: 250ms;
    margin-top: 3em;
    padding: 0.8em 1.2em 0.8em 1.2em;
    @include defaultText(1em, center, $text, 3px);
    @include border(20px, 0px, $border);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: $unselected;

    @include mq(L) {
      font-size: 0.8em;
    }

    @include mq(XL) {
      font-size: 1em;
    }

    &:hover {
      transition: 250ms;
      background-color: $selected;
      border-radius: 10px;
      @include defaultText(1em, center, $text, 6px);

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }
    }

    &Two {
      margin-left: 1em;
      transition: 250ms;
      margin-top: 3em;
      padding: 0.8em 1.2em 0.8em 1.2em;
      @include defaultText(1em, center, $text, 3px);
      @include border(20px, 0px, $border);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: $selected;

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }

      &:hover {
        transition: 250ms;
        background-color: $unselected;
        border-radius: 10px;
        @include defaultText(1em, center, $text, 6px);

        @include mq(L) {
          font-size: 0.8em;
        }

        @include mq(XL) {
          font-size: 1em;
        }
      }
    }
  }
}

//? Div Boxes
.divBoxContainer {
  margin-top: 3em;

  .divBox {
    transition: 250ms;
    text-align: center;
    margin-top: 2em;
    background-color: $backgroundOp;
    @include border(16px, 1px, $border);

    &:hover {
      transition: 250ms;
      @include border(20px, 1px, $selected);
      cursor: pointer;
    }

    .chat {
      margin-top: 0.5em;
      @include defaultText(6em, center, $text, 1px);

      @include mq(L) {
        font-size: 4em;
      }

      @include mq(XL) {
        font-size: 6em;
      }
    }

    .textBox {
      margin-top: 1em;
      margin-bottom: 1.5em;
      @include defaultText(1.5em, center, $text, 1px);

      @include mq(L) {
        font-size: 1em;
      }

      @include mq(XL) {
        font-size: 1.5em;
      }
    }
  }
}
<<<<<<< HEAD:scss/style.scss

//? Seperation Bar
.bar {
  background: $border;
  height: 1px;
  width: 100%;
  margin: 0%;
  margin-top: 8.5em;

  @include mq(L) {
    margin-top: 4.5em;
  }

  @include mq(XL) {
    margin-top: 8.5em;
  }
}

//? Footer

.footerDiv {
  margin-top: 2em;

  @include mq(L) {
    margin-top: 1em;
  }

  @include mq(XL) {
    margin-top: 2em;
  }

  .footerBtn {
    transition: 250ms;
    font-family: "Courier New", Courier, monospace;
    @include defaultText(0.8em, left, $subText, 1px);
    margin-top: 1em;

    &:hover {
      transition: 250ms;
      cursor: pointer;
      @include defaultText(0.8em, left, $selected, 3px);
    }

    &Static {
      font-family: "Courier New", Courier, monospace;
      @include defaultText(0.8em, left, $subText, 1px);
      user-select: none;
      margin-top: 1em;
    }
  }
}
=======
>>>>>>> a66b1653995cb2cf5dfcc9da173ce24280425e63:src/app/main-page/main-page.component.scss
