//* Sass code by Harold.

//? Imports
@import "src/assets/stylings/defaults";

//? Main Text
.main {
  width: 100%;
  margin: auto;
  margin-top: 12em;
  @include defaultText(1em, left, $text, 1px);

  @include mq(L) {
    margin-top: 6em;
  }

  @include mq(XL) {
    margin-top: 12em;
  }

  .mainText {
    @include defaultText(4em, left, $text, 1px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 3em;
    }

    @include mq(XL) {
      font-size: 4em;
    }
  }

  .subText {
    width: 100%;
    margin: auto;
    @include defaultText(1.3em, left, $subText, 3px);
    margin-top: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @include mq(L) {
      font-size: 1em;
    }

    @include mq(XL) {
      font-size: 1.3em;
    }
  }

  .mainBtn {
    transition: 250ms;
    margin-top: 3em;
    padding: 0.8em 1.2em 0.8em 1.2em;
    @include defaultText(1em, center, $text, 3px);
    @include border(20px, 0px, $border);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: $unselected;

    @include mq(L) {
      font-size: 0.8em;
    }

    @include mq(XL) {
      font-size: 1em;
    }

    &:hover {
      transition: 250ms;
      background-color: $selected;
      border-radius: 10px;
      @include defaultText(1em, center, $text, 6px);

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }
    }

    &Two {
      margin-left: 1em;
      transition: 250ms;
      margin-top: 3em;
      padding: 0.8em 1.2em 0.8em 1.2em;
      @include defaultText(1em, center, $text, 3px);
      @include border(20px, 0px, $border);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: $selected;

      @include mq(L) {
        font-size: 0.8em;
      }

      @include mq(XL) {
        font-size: 1em;
      }

      &:hover {
        transition: 250ms;
        background-color: $unselected;
        border-radius: 10px;
        @include defaultText(1em, center, $text, 6px);

        @include mq(L) {
          font-size: 0.8em;
        }

        @include mq(XL) {
          font-size: 1em;
        }
      }
    }
  }
}

//? Div Boxes
.divBoxContainer {
  margin-top: 3em;

  .divBox {
    transition: 250ms;
    text-align: center;
    margin-top: 2em;
    background-color: $backgroundOp;
    @include border(16px, 1px, $border);

    &:hover {
      transition: 250ms;
      @include border(20px, 1px, $selected);
      cursor: pointer;
    }

    .chat {
      margin-top: 0.5em;
      @include defaultText(6em, center, $text, 1px);

      @include mq(L) {
        font-size: 4em;
      }

      @include mq(XL) {
        font-size: 6em;
      }
    }

    .textBox {
      margin-top: 1em;
      margin-bottom: 1.5em;
      @include defaultText(1.5em, center, $text, 1px);

      @include mq(L) {
        font-size: 1em;
      }

      @include mq(XL) {
        font-size: 1.5em;
      }
    }
  }
}
