<!--?Navigation Bar-->
<div class="container-fluid navContainer">
  <div class="navTexts">
    <div class="row">
      <div class="col-md-3 logo">
        <h1 (click)="toHome()">
          <i class="fas fa-user-friends"></i> ROConsultants
        </h1>
      </div>

      <div class="col-md-6"></div>

      <div
        class="navBtn col-md-1"
        id="{{ nav.id }}"
        *ngFor="let nav of navigations; let i = index"
      >
        <p (click)="toPage(nav.name)">
          <i class="{{ nav.icon }}"></i> {{ nav.name }}
        </p>
      </div>
    </div>
  </div>
</div>
